.footer {
    background-color: var(--color-mine-shaft-gray);
    height: var(--footer-h);
    padding-left: var(--footer-pl);
    padding-right: var(--footer-pr);
    padding-top: 1.6875rem;
    font-family: "Montserrat", sans-serif;
}

.footerUs {
    display: flex;
    flex-direction: column;
    padding-right: 3.0625rem;
}

.footerCont {
    width: 100%;
    color: var(--color-white);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100%;
}

.footerTitle {
    color: var(--color-boulder);
    margin-bottom: 0.9375rem;
    text-transform: uppercase;
    line-height: 1.8rem;
    font-size: 1rem;
    font-weight: normal;
}

.footerLink {
    margin-bottom: 0.8125rem;
    font-size: var(--app-text-sm);
    line-height: 1.5625rem;
}

.footerLinksDiv {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1262px) {
    .footerCont {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 745px) {
    .footerCont {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 405px) {
    .footerCont {
        display: flex;
        flex-direction: column;
    }
}
