.opinion {
    padding-left: var(--app-pl);
    padding-right: var(--app-pr);
    margin-bottom: 4rem;
}

.opinionCont {
    margin-bottom: 4rem;
    display: flex;
}

@media screen and (max-width: 1262px) {
    .opinionCont {
        flex-direction: column;
        align-items: center;
    }
}
