.job {
    --job-w: 19.75rem;
    --job-h: 14.8125rem;
    --job-top-h: 0.25rem;
    --job-br: 0.5rem;

    border-radius: var(--job-br);
    position: relative;
    /* margin-left: 14rem; */
    width: var(--job-w);
    height: var(--job-h);
    background-color: var(--color-tuna);
    padding: 1rem 0.75rem 1.25rem 0.75rem;
    border-top-left-radius: calc(var(--job-br));
    border-top-right-radius: calc(var(--job-br));
    font-family: "Montserrat", sans-serif;
    color: var(--color-white);
    margin-right: 1.1875rem;
}

.job:nth-last-child(1) {
    margin-right: 0;
}

.job::after {
    content: "";
    position: absolute;
    height: var(--job-top-h);
    background-color: var(--color-candlelight);
    top: 0;
    /* width: calc(var(--job-w)- 1.9px); */
    border-top-left-radius: var(--job-br);
    border-top-right-radius: var(--job-br);
    width: calc(100% - 2px);
    left: 0.95px;
    right: -1px;
    /* right: 5px; */
}

.jobTop {
    display: flex;
}

.jobImage {
    border-radius: 100%;
    height: 4.5rem;
    width: 4.5rem;
}

.jobTopLeft {
    padding-right: 0.75rem;
}

.jobTopRightTop {
    border-bottom: 1px solid var(--color-mid-gray);
    margin-bottom: 0.3125rem;
}

.jobEmp {
    line-height: 1.21875rem;
    font-weight: 700;
    font-size: 1rem;
}

.jobRole {
    margin-bottom: 0.3125rem;
    margin-top: 0.1875rem;
    font-size: 0.75rem;
    color: var(--color-candlelight);
}

.jobDesc {
    font-size: 0.75rem;
}

.jobLocation {
    display: flex;
    margin-top: 0.1875rem;
}

.jobLocationImg {
    margin-right: 1.083125rem;
}

.jobLocationText {
    color: var(--color-mid-gray);
    font-size: 0.75rem;
}

.jobMid {
    margin-top: 0.75rem;
    display: flex;
    flex-wrap: wrap;
}

.jobFeat {
    display: flex;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-baltic-sea5);
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
}

.jobBottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.jobButton {
    height: 2.375rem;
    width: 8.625rem;
    border-radius: 0.25rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
}

.jobButton:active {
    transform: scale(0.98);
}

.jobApply {
    background-color: var(--color-candlelight);
    color: var(--color-black);
}

.jobShortList {
    background-color: var(--color-mid-gray);
    color: var(--color-white);
}
