.appwide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.05); */
    font-family: helvetica;
}

.appwide-container {
    max-width: var(--screen-max-width);
    width: 100%;
    background-color: var(--color-white);
    overflow: hidden;
}

.scroll-lock {
    overflow: hidden;
}
