.unique {
    --unique-mid-mb: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    background: url(../../../../assets/images/applyLeft.svg) top left no-repeat,
        url(../../../../assets/images/applyRight.svg) top right no-repeat;
    display: flex;
    justify-content: center;
    height: 100%;
}

.uniqueMid {
    margin-top: 3rem;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(min(28.1875rem, calc(100vw - calc(var(--app-pl) * 2))));
    margin-bottom: var(--unique-mid-mb);
}

@media screen and (max-width: 1024px) {
    .unique {
        background: none;
        --unique-mid-mb: 2rem;
    }
}
