.unique {
    display: grid;
    grid-template-columns: 34.3402777778% 31.3194444444% 34.3402777778%;
}

.uniqueMid {
    margin-top: 3rem;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
