.brand {
    color: var(--color-white);
}

.brandFig {
    height: 11.25rem;
    width: 19.866875rem;
    border-radius: 0.5rem;
    position: relative;
    margin-bottom: 0.1875rem;
}

.brandCaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.75rem;
    justify-content: space-between;
    padding-right: 0.5625rem;
    padding-left: 0.49875rem;
}

.brandButton {
    background-color: var(--color-candlelight);
    width: 4.8125rem;
    height: 2.0625rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.8125rem;
    line-height: 1.0625rem;
    color: var(--color-black);
    cursor: pointer;
}

.brandName {
    font-size: 0.8125rem;
    margin-bottom: 0.5rem;
}

.brandMotto {
    color: var(--color-white-60);
    font-size: 0.75rem;
}
