.testi {
    --testi-cont-wrap: nowrap;
    --testi-cont-justify: center;
    --testi-cont-mb: 0;
    --testi-cont-mr: 1.125rem;
    --testi-button-mb: 0;
    padding-left: var(--app-pl);
    padding-right: var(--app-pr);
    background-color: var(--color-candlelight2);
    height: var(--testi-h);
}

.testiCont {
    display: flex;
    flex-wrap: var(--testi-cont-wrap);
    justify-content: var(--testi-cont-justify);
}

.testiTitle {
    margin-bottom: 2.5rem;
    padding-top: 2.5rem;
    text-align: center;
}

.testiBottom {
    width: 100%;
    justify-content: center;
    display: flex;
}

.testiButton {
    margin-top: 3rem;
    text-align: center;
    border: 1px solid var(--color-black);
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 7.6875rem;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: var(--testi-button-mb);
}

.testiLi {
    list-style: none;
    margin-bottom: var(--testi-cont-mb);
    margin-right: var(--testi-cont-mr);
    width: 23.25rem;
}

.testiLi:nth-last-child(1) {
    margin-right: 0;
}

@media screen and (max-width: 1262px) {
    .testi {
        --testi-cont-wrap: wrap;
        --testi-cont-mb: 1rem;
        --testi-cont-mr: 0;
        --testi-cont-justify: space-around;
        --testi-button-mb: 1.5rem;
    }
}
