.placo {
    height: var(--placo-h);
    position: relative;
}

.placoEmployers {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.placoOffers {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(var(--emp-h) - var(--placo-translate));
    z-index: 1;
}
