.rbrands {
    --rbrands-br: 2rem;
    --rbrands-li-ml: 1.125rem;
    --rbrands-li-mb: 0rem;
    --rbrands-cont-justify: center;
    background: linear-gradient(
            180deg,
            var(--color-baltic-sea4) 56%,
            var(--color-black) 97.11%
        ),
        var(--color-baltic-sea);
    height: var(--rbrands-h);
    width: 100%;
    border-top-left-radius: var(--rbrands-br);
    border-top-right-radius: var(--rbrands-br);
    position: relative;
}

.rbrandsTitle {
    color: var(--color-white);
    padding: 2.5rem 0;
    text-align: center;
    line-height: 1.125rem;
    font-size: 1.375rem;
    font-weight: 700;
}

.rbrandsCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--rbrands-cont-justify);
    margin-bottom: 3rem;
}

.rbrandsDash {
    padding-left: var(--app-pl);
    padding-right: var(--app-pr);
}

.rbrandsLi {
    list-style: none;
    width: 19.866875rem;
    margin-left: var(--rbrands-li-ml);
    margin-bottom: var(--rbrands-li-mb);
}

.rbrandsLi:nth-child(1) {
    margin-left: 0;
}

@media screen and (max-width: 1262px) {
    .rbrands {
        --rbrands-br: 0rem;
        --rbrands-li-ml: 0rem;
        --rbrands-cont-justify: space-around;
        --rbrands-li-mb: 1rem;
    }
}
