:root {
    --app-default-color: #fee100;
    --header-h: 7rem;
    --color-white: #ffffff;
    --color-black: #000;
    --color-black-14: #00000014;
    --color-turbo: #fee100;
    --color-ebony-black: #212934;
    --color-mine-shaft: #292929;
}

@media screen and (max-width: 1024px) {
    :root {
    }
}

@media screen and (max-width: 745px) {
    :root {
    }
}

@media screen and (max-width: 343px) {
    :root {
    }
}
