:root {
    --app-default-color: #fee100;
    --header-h: 7rem;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-14: #00000014;
    --color-black-82: #000000d1;
    --color-black-40: #00000066;
    --color-black-50: #00000080;
    --color-turbo: #fee100;
    --color-ebony-black: #212934;
    --color-mine-shaft: #292929;
    --color-mine-shaft-gray: #333333;
    --color-boulder: #777777;
    --color-silver: #c4c4c4;
    --color-candlelight: #fbde26;
    --color-baltic-sea: #1b1a1d;
    --color-tuna: #302f35;

    --app-text-sm: 0.875rem;
}

@media screen and (max-width: 1024px) {
    :root {
    }
}

@media screen and (max-width: 745px) {
    :root {
    }
}

@media screen and (max-width: 343px) {
    :root {
    }
}
