.opinion {
    height: var(--app-opimg-h);
    position: relative;
}

.opinonQuote {
    height: 18.5625rem;
    background-color: var(--color-gallery);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 3.3125rem 3.0625rem 3.25rem 3rem;
    line-height: 1.6875rem;
    font-size: 1rem;
    color: var(--color-black-70);
    overflow: hidden;
}

.opinonText {
    height: 12rem;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.opinionImg {
    transform: translateX(1.4375rem) translateY(1.375rem);
}
