.career {
    --car-img-ml: 0.9375rem;
    --car-img-pt: 3.5rem;
    padding-left: var(--app-pl);
    padding-right: var(--app-pr);
    /* padding-top: 2.5rem; */
    display: flex;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3.0625rem;
    display: grid;
    grid-template-columns: 25.0625rem 1fr;
    column-gap: 3.1875rem;
}

.careerLeft {
    width: 100%;
    grid-column: 1;
    padding-top: var(--car-img-pt);
}

.careerTitle {
    padding-bottom: 1.6875rem;
    color: var(--color-baltic-sea2);
    font-size: 1.5rem;
    line-height: 1.8125rem;
}

.careerP {
    font-size: var(--app-text-sm);
    color: var(--color-black-60);
    margin-bottom: 1.5rem;
    line-height: 1.375rem;
}

.careerRight {
    grid-column: 2;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.careerImg {
    margin-left: var(--car-img-ml);
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 0.94375rem;
}

.careerGallery {
    position: relative;
    color: var(--color-gray);
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
}

.careerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.careerLi {
    list-style: none;
}

.careerCaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1262px) {
    .career {
        display: flex;
        flex-direction: column;
        --car-img-ml: 0;
        --car-img-pt: 1rem;
    }

    .careerRight {
        flex-direction: row;
        margin-top: 1rem;
        justify-content: space-around;
    }
}

@media screen and (max-width: 405px) {
    .careerRight {
        justify-content: space-around;
    }
}
